<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>POMPPC fsqrt</string>
	<key>Provides</key>
	<array>
		<string>POMPPCFsqrt</string>
	</array>
	<key>OrderPreference</key>
	<string>First</string>
</dict>
</plist>
